<%- include('./partials/header') %>

    <section id="show-page"></section>
        <div>Flight: </div>
        <div><%= flight.airline %></div>
        <div>Airport: </div>
        <div><%= flight.airport %></div>
        <div>Flight No: </div>
        <div><%= flight.flightNo %></div>


<%- include('./partials/footer') %>